* {
    box-sizing: border-box;
}

:root {
    --back-ground-color: #fff;
    --font-color: #5f6368;
    --font-size: 14px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--back-ground-color);
    height: 100%;
    --font-color: var(--font-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
    font-size: var(--font-size);

    a {
        text-decoration: none;
        color: var(--font-color);
        margin: 0 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        .app-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;

            &:hover {
                text-decoration: none;
                background-color: #f0f0f0;
            }
        }

        .sign-in {
            background-color: #1a73e8;
            color:#fff;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #1557b5;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
    padding: 20px;

    .logo {
        max-width: 272px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .search-container {
        max-width: 284px;
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        .search-bar {
            width: 100%;
            padding: 10px 20px 10px 40px; /* Add padding for the search icon */
            font-size: 16px;
            border: 1px solid #dfe1e5;
            border-radius: 24px;
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            outline: none;

            &:focus {
                border-color: #4285f4;
            }
        }
        .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #9aa0a6;
            font-size: 20px;
        }

        .mic-icon,
        .camera-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #9aa0a6;
            font-size: 20px;
            cursor: pointer;
        }

        .camera-icon {
            right: 50px;
        }

        .mic-icon:hover,
        .camera-icon:hover,
        .search-icon:hover {
            color: #5f6368;
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

        .search-button {
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            color: #5f6368;
            font-size: 14px;
            padding: 10px 20px;
            cursor: pointer;
            outline: none;

            &:hover {
                border: 1px solid #dadce0;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            }

            &:active {
                background-color: #e8e8e8;
            }
        }
    }

}

























